<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <!-- ! Hide app brand if navbar-full -->
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'index' %}" class="app-brand-link">
      <span class="app-brand-logo demo me-1">
        {% include 'partials/logo.html' %}
      </span>
      <span class="app-brand-text demo menu-text fw-semibold ms-2">{% get_theme_variables 'template_name' %}</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>
  {% endif %}


  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

    <li class="menu-item {% if 'index' == request.resolver_match.url_name or '/dashbord/' in request.path %}active open{% endif %}">
    
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-home-smile-line"></i>
        <div class="text-truncate" data-i18n="Dashboards">Tu negocio</div>
        <!-- <span class="badge bg-danger rounded-pill ms-auto">5</span> -->
      </a>


      <ul class="menu-sub">
        <li class="menu-item {% if 'index' == request.resolver_match.url_name %}active{% endif %}">
          <a href="{% url 'index' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Analytics">Ventas</div>
          </a>
        </li>
        
        <li class="menu-item {% if '/account/' == request.resolver_match.url_name %}active{% endif %}">
          <a href="{% url 'pages-account-settings-account'  %}" class="menu-link">
            <div class="text-truncate" data-i18n="Analytics">Ordernes</div>
          </a>
        </li>

      </ul>
    </li>
    

    <li class="menu-header fw-medium mt-7">
      <span class="menu-header-text">Admin &amp; Personal</span>
    </li>

    <!-- Account -->
    <li class="menu-item {% if '/account_settings/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-user-line"></i>
        <div class="text-truncate" data-i18n="Account Settings">Configuración de cuenta</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/account/' in request.path %}active{% endif %}">
          <a href="{% url 'pages-account-settings-account' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Account">Perfil</div>
          </a>
        </li>
        <li class="menu-item {% if '/notifications/' in request.path %}active{% endif %}">
          <a href="{% url 'pages-account-settings-notifications' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Notifications">Lista de Productos</div>
          </a>
        </li>
        <li class="menu-item {% if '/connections/' in request.path %}active{% endif %}">
          <a href="{% url 'pages-account-settings-connections' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Connections">Personal</div>
          </a>
        </li>
      </ul>
    </li>


    <li class="menu-header fw-medium mt-7">
      <span class="menu-header-text">Misc</span>
    </li>

    <li class="menu-item">
      <a href="https://themeselection.com/support/" class="menu-link" target="_blank">
        <i class="menu-icon tf-icons ri-lifebuoy-line"></i>
        <div class="text-truncate" data-i18n="Support">Support</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/documentation/django-introduction.html" class="menu-link" target="_blank">
        <i class="menu-icon tf-icons ri-article-line"></i>
        <div class="text-truncate" data-i18n="Documentation">Documentation</div>
      </a>
    </li>

  </ul>


</aside>
